<h1 style="margin: 0px 0px 0px 200px">Editar Proyecto</h1>

<%= render 'form', proyecto: @proyecto %>
<br>
<div style="margin: 0px 0px 20px 60px">
<%= link_to 'Detalle', @proyecto, class: "btn btn-success" %> |
<%= link_to 'Atras', proyectos_path, class: "btn btn-danger"%>
</div>