<div style="margin: 5px 0px 0px 200px;">
<h1>Nuevo Proyecto</h1>
</div>
<%= render 'form', proyecto: @proyecto %>
<div style="margin: 0px 0px 0px 70px;">
<%= link_to 'Atras', proyectos_path , class: "btn btn-danger" %>
</div>