<style type="text/css">
  .img{
    border: 10px solid white;
    margin: 20px 20px 0px 100px;
    width: 600px;
    height:500px;
  }
</style>

<img src="/assets/Nosotros4.jpg" align="right"class="img" >
<br>
 <div style="text-align:center; ">
<h1 >Mision</h1>
<br>
      <pre>
      Somos una empresa constructora dedicada a la 
      construcción de proyectos de Arquitectura y 
      obra civil, en el ámbito público y privado, 
      cuya misión es satisfacer las necesidades de 
      nuestros clientes antes, durante y después de
      finalizado el proyecto
    </pre>
<br>
<h1>
  Vision
</h1>
<br>
<pre>
      Ser reconocida como la constructora que
      brinda la mayor satisfacción a clientes 
      y relacionados.
</pre>
</div>
