<html lang="en">
<style type="text/css">
  .img{
    border: 5px solid black;
    margin: 30px 100px 0px 20px;
     width: 450px;
     height: 500px;
  }
</style>

<body>

<img src="/assets/Nosotros4.jpg" align="left"class="img"  >
 <br>
  <div>
    <h3 style="text-align:center;">POST VENTA</h3>
    <pre>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget orci nunc.
      Phasellus venenatis eget nisi in eleifend. Sed ullamcorper maximus purus, sit amet 
      gravida nisi aliquam quis. Vivamus nec eros auctor, tempor lorem nec, blandit dolor. 
      Vivamus eget interdum purus. Morbi et enim bibendum, luctus metus nec, tempus ante. 
      Curabitur lacinia laoreet tincidunt. Phasellus vulputate mauris pulvinar tellus efficitur
      malesuada. Ut pharetra mauris ipsum, eu volutpat turpis suscipit quis. Interdum et 
      malesuada fames ac ante ipsum primis in faucibus.
    </pre>

    <h3 style="text-align:center;">RECOMENDACIONES DE MANTENIMIENTO</h3>
    <pre>
      Pellentesque erat nunc, pretium vel posuere quis, facilisis vel nibh. Donec vitae 
      pretium odio, ac congue sem. Phasellus a elit luctus, tincidunt massa non, luctus mi. 
      Sed id venenatis neque. Nam et velit cursus, rhoncus elit ac, condimentum nulla. Nulla
      porta eros arcu, non imperdiet odio imperdiet ut. Vestibulum lacinia mollis massa, eget
      pellentesque nisi. Vestibulum semper nibh est, non porttitor turpis auctor ac. Duis suscipit
      dictum semper. Quisque convallis porta egestas.
    </pre>    
  </div>

</body>
