<h1 style="margin: 0px 0px 0px 250px">Editar Proyecto</h1>

<%= render 'form', departamento: @departamento %>
<br>
<%= link_to 'Detalles', @departamento, class: "btn btn-success" %> |
<%= link_to 'Atras', departamentos_path, class: "btn btn-danger" %>
