<style type="text/css">
	.contenedor {
  display:flex;
  flex-direction: row;
  min-height:100%;
}
.boton{
 margin: 200px 0px 200px 200px;
}
</style>
<div class="contenedor">
		<br>
		<img src="assets/inicio1" width="600px" height="530px" style="margin: 10px 0px 0px 20px">
	<body style="background-color:#011f4b">

</body>
<form>
  <div class="boton">
 <input name="q" class="form-control"<%= @q %> >
 <br>
 <button type="submit" class=" btn btn-outline-danger" style="margin: 0px 0px 0px 60px">Buscar</button>
</form>
</div>
</div>
