<table class="table">


  <tbody style="text-align: center;">
    <% @depart.each do |depart| %>
      <tr>

<td><%= link_to 'Edit', edit_user_path(depart) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
