<table class="table table-striped" style="text-align: center;">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Precio</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coti.each do |coti| %>
      <tr>
        <td><%= coti.nombre %> </td> <td><%= coti.precio %></td> 

       
<% end %>
    </tbody>
  </table>
 <%= link_to "Detalles", controller: "extra", action: "detalle", class: "btn btn-outline-primary"%>   